body {
  font-family: georgia;
}

.northeastern {
  color: #cb0013;
}

html, body {
  height: 100%;
}

.page-content {
  min-height: 100%;
  margin-bottom: -120px;
}

.page-content:after {
  content: '';
  display: block;
  clear: both;
}

footer, .page-content:after {
  height: 120px;
}

footer {
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  width: 100%;
  padding: 20px;
}
